# Virtual environments
.venv/
env/
venv/

# Python caches
__pycache__/
*.pyc

# Agent-specific folders
.agents/
SKILLS_Main_Added/
skills/

# Secrets
.env
Task3-w3-a1/W3 - Connecting your CRUD to the database.pdf
